//colors

$base-color: #ee046c;
$secondary-color: #3e3e3e;
$third-color: #fcac0c;
$bg-color: #ececec;
$font-color: #000;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
