.nav{
    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    &__link {
        width: 20%;
        text-align: center;

        a {
            cursor: pointer;
            display: block;
            width: 100%;
            height: 100%;
            padding: 1.5rem 0;
            color: black;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: $base-color;
                background: $bg-color;
            }

            &.link--selected {
                background-color: $base-color;
                color: $bg-color;
                cursor: auto;

                &:hover {
                    background-color: $base-color;
                    color: $bg-color;
                }

            }
        }

        
    }
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: $font-color;
    font-size: 3rem;
    cursor: pointer;
    display: none;

    i.icon-menu:before {
        color: $font-color;
    }

    @media screen and (max-width: 1024px) {
        font-size: 2rem;
    }

    &:focus {
        outline: none;
    }
}

.show {
    display: block !important;
}

@media screen and (max-width: 1024px) {
    .nav {
        &__list {
            display: none;
            padding-top: 0;
        }

        &__link {
            border-top: $base-color solid 2px;
            width: 100%;
            text-align: center;
        }
    }

    .hamburger {
        display: block;
    }
}